<div class="row burger p-2 m-0 justify-content-center">
    <div class="col-sm-7 p-0 card">
        <div class="burgerInfo">{{burger_name}}</div>
    </div>
    {{!-- <div class="col-sm-4 p-0">
        <button type="button" class="btn btn-info change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
            {{#if devour}}DEVOUR <i class="fas fa-hamburger"></i>{{else}}EAT AGAIN{{/if}}
        </button>
    </div>
    <div class="col-sm-1 p-0">
        {{#if devour}}
        <button type="button" class="btn btn-secondary delete-burger" data-id="{{this.id}}">
            <i class="fas fa-trash-alt"></i>
        </button>
        {{/if}}
    </div> --}}

    {{#if devour}}
    <div class="col-sm-4 p-0">
        <button type="button" class="btn btn-info change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
            DEVOUR <i class="fas fa-hamburger"></i>
        </button>
    </div>
    <div class="col-sm-1 p-0">
        <button type="button" class="btn btn-secondary delete-burger" data-id="{{this.id}}">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
    {{else}}
    <div class="col-sm-5 p-0">
        <button type="button" class="btn btn-info change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
            EAT AGAIN <i class="fas fa-utensils"></i>
        </button>
    </div>
    {{/if}}
</div>